.scrollbar-content::-webkit-scrollbar {
  width: 0.5em;
}

.scrollbar-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

.scrollbar-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 1px;
}

.admin-header {
  height: 70px;
  background-color: #1A1C1E;
}

.admin-header-side {
  width: 250px;
  position: fixed;
}

.admin-panel-form {
  width: 100%;
}

.admin-auth-input {
  height: 48px;
}

.ant-input {
  color: white !important;
  background-color: #1F2123 !important;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Avenir-SFProDisplay';
}

.ant-input ::-webkit-input-placeholder, :-ms-input-placeholder, ::placeholder {
  color: #A9AEBE;
}

.ant-input-prefix {
  margin-right: 30.69px;
  margin-left: 0;
}

.ant-input-affix-wrapper,
.ant-input-affix-wrapper:hover {
  background-color: #1F2123 !important;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  padding: 4px 20.69px;
  border: none;
}

.sidebar-active {
  padding-left: 36px !important;
}

.sub-sidebar-active {
  padding-left: 66px !important;
}

.admin-active {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) -97.53%, rgba(255, 255, 255, 3e-05) 100%);
  opacity: 1 !important;
}

.pa-left-40 {
  padding-left: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.admin-dashboard-video:hover {
  .admin-dashboard-video-pause-button {
    display: block;
  }
}

.user-list-active {
  background: #292F4C;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.dis-flex {
  display: flex;
}

.margin-top-30 {
  margin-top: 30px;
}

.w-full {
  width: 100%;
}

.padding-0-30 {
  padding: 0 30px;
}

.item-center {
  align-items: center;
}

.padding-30 {
  padding: 30px;
}
