.ant-notification-hook-holder, .ant-notification-notice {
  background: #0F1A23;
  border: 0.5px solid white;
  border-radius: 4px;
}

.ant-notification-notice-close,
.ant-notification-notice-message,
.ant-notification-notice-description {
  color: #fff;
}

